@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Welcome Pierre to Your Vendor Portal!</h1>
</div>

<a href="/vendor/new" class="btn btn-dark">Add a New Vendor</a>
<a href="/vendor" class="btn btn-dark">See All Vendors</a>